@page "/loading"
@inherits LayoutComponentBase

<RadzenContent>
    <RadzenPanel  style="width: 300px; margin: auto; text-align: center;     background-color: rgba(248, 249, 250, 0.7); border: 1px solid #ced4da; border-radius: 5px; padding: 20px;">
        <RadzenIcon Icon="hourglass_empty" Size="48px" style="color: black;" class="loading-panel"></RadzenIcon>
            <h3>Loading...</h3>

    </RadzenPanel>
</RadzenContent>
